extends ../layouts/default

block content
  include ../mixins/preview
  include ../mixins/getYoutubePreview

  main.content.course
    h2.content-title=activity.title
    .container
      .row.short-desc
        .row
          .col-xs-10.col-xs-offset-1.col-md-offset-0
            h3.subtitle!=activity.mainTitle
        .row
          .col-xs-10.col-xs-offset-1.col-md-offset-0.course-plan
            span.plan-wrapper!=activity.mainText
        .row
          .col-xs-10.col-xs-offset-1.col-md-offset-0.course-tasks
            .row
              .col-sm-6
                h3.subtitle=activity.leftColumnSubtitle
                span.desc!=activity.leftColumnText
                a.basic-btn.red.signinButton(href=activity.applyLink) Записатись
              .col-sm-6
                h3.subtitle=activity.rightColumnSubtitle
                span.desc!=activity.rightColumnText
    if(activity.relatedAlbum)
      .container-fluid.gallery-preview-wrapper
        .container
          .row
            .col-xs-10.col-xs-offset-1.col-md-offset-0.col-md-12.gallery-preview
              a(href=`/album/${activity.relatedAlbum.slug}`)
                h3 Галерея
              .gallery-preview-slider
                -const album = activity.relatedAlbum
                -for(let i=1; i<=album.content.sectionsCount; i++) {
                  -
                    let photoSubtitle = album.content[`${i}_subtitlePhoto`]
                    let videoSubtitle = album.content[`${i}_subtitleVideo`]
                    let photo = album.content[`${i}_photo`]
                    let video = album.content[`${i}_video`]
                  if(photoSubtitle || (photo && photo.url))
                    .slide
                      a(href=photo.url, title=photoSubtitle).swipebox
                        img(src=photo.url, alt=photoSubtitle)
                  if(videoSubtitle || video)
                    .slide
                      a(href=video, title=video).swipebox
                        img(src=getYoutubePreview(video), alt=video)
                -}
    .container.lessons-desc
      .row.lesson-desc
        -for(let i=1; i<=activity.content.sectionsCount; i++) {
          if activity.content[`${i}_title`]
            .row
              .lesson-title
                h2= activity.content[`${i}_title`]
                img(src='/images/icons/logo-gear.svg', alt='')
          .row
            if activity.content[`${i}_subtitle`]
              .col-xs-10.col-xs-offset-1.col-md-offset-0
                span.task-subtitle= activity.content[`${i}_subtitle`]
            if activity.content[`${i}_text`]
              .col-xs-10.col-xs-offset-1.col-md-offset-0.lesson-tasks!= activity.content[`${i}_text`]
        -}
      .row.course-actions
        .col-xs-4.signin-button-wrapper
          a.basic-btn.red.signin-button(href=activity.applyLink) Записатись
        .socials-wrapper.col-md-3.col-sm-6.col-xs-8.pull-right
          a(target='_blank').fa.fa-facebook.fb-share
          a(target='_blank').fa.fa-twitter.twitter-share
    .container-fluid.see-also-header-wrapper
      h2.see-also-header Дивіться також
    .container.courses-preview-wrapper
      each activity in activities
        +preview({
          title: activity.briefDescription,
          attrs: { 'data-cat': activity.field, 'data-min-age': activity.minimumAge, 'data-max-age': activity.maximumAge },
          icon: 'age',
          link: `/${path}/${activity.slug}`,
          bgSRC: activity.heroImage.url,
          stripy: 'orange'
        })