extends ../layouts/default

block content
  include ../mixins/preview

  -let minAge = Infinity
  -let maxAge = -Infinity
  each activity in activities
   -minAge = activity.minimumAge < minAge ? activity.minimumAge : minAge
   -maxAge = activity.maximumAge > maxAge ? activity.maximumAge : maxAge

  main.content
   h2.content-title= title
   .container
     form.courses-filter.row
       h4.courses-filter__title.col-sm-3 Фільтрувати
       .courses-filter__form-line.col-sm-3
         select.basic-select(data-filter='cat')
           option(value='all') Напрям
           each field in fields
             option(value=field._id)= field.title
       .courses-filter__form-line.age.col-sm-3
         if path !== 'product'
           select.basic-select(data-filter='age')
             option(value='all') Вік
             -for(let i=minAge; i<=maxAge; i++) {
                option(value=i)= i
             -}
     .courses.row.centered-items
       each activity in activities
         +preview({
           title: activity.briefDescription,
           active: {
            sinceFormattedDate: activity.activeSinceFormattedDate,
            sinceTimestamp: activity.activeSinceTimestamp,
            currentTimestamp: serverTimestamp,
           },
           attrs: { 'data-cat': activity.field, 'data-min-age': activity.minimumAge, 'data-max-age': activity.maximumAge },
           icon: path === 'product' ? 'fa fa-graduation-cap' : 'age',
           link: `/${path}/${activity.slug}`,
           bgSRC: activity.heroImage.url,
           activeSince: activity.activeSince,
           stripy: 'orange',
         })