extends ../layouts/default

block content
  include ../mixins/preview

  main.content.course
    h2.content-title=course.title
    .container
      .row.short-desc
        .row
          .col-xs-10.col-xs-offset-1.col-md-offset-0
            h3.subtitle План занять
        .row
          .col-xs-10.col-xs-offset-1.col-md-offset-0.course-plan
            span.plan-wrapper!=course.plan
        .row
          .col-xs-10.col-xs-offset-1.col-md-offset-0.course-tasks
            .row
              .col-sm-6
                h3.subtitle=course.leftColumnSubtitle
                span.desc!=course.leftColumnText
                a.basic-btn.red.signinButton(href=course.applyToCourseLink) Записатись на курс
              .col-sm-6
                h3.subtitle=course.rightColumnSubtitle
                span.desc!=course.rightColumnText
    if(course.relatedAlbum)
      .container-fluid.gallery-preview-wrapper
        .container
          .row
            .col-xs-10.col-xs-offset-1.col-md-offset-0.col-md-12.gallery-preview
              h3 Галерея
              .gallery-preview-slider
                  each item in course.relatedAlbum.sections
                    if item.type == 'photo'
                      .slide
                        a(href=item.photo.url, title=item.title).swipebox
                          img(src=item.photo.url, alt=item.title)
    .container.lessons-desc
      .row.lesson-desc
        script.
          console.log(!{JSON.stringify(course)})
        -for(let i=1; i<=course.content.sectionsCount; i++) {
          if course.content[`${i}_title`]
            .row
              .lesson-title
                h2= course.content[`${i}_title`]
                img(src='/images/icons/logo-gear.svg', alt='')
          .row
            if course.content[`${i}_subtitle`]
              .col-xs-10.col-xs-offset-1.col-md-offset-0
                span.task-subtitle= course.content[`${i}_subtitle`]
            if course.content[`${i}_text`]
              .col-xs-10.col-xs-offset-1.col-md-offset-0.lesson-tasks!= course.content[`${i}_text`]
        -}
        //- each section in course.sections
        //-   if section.fancyTitlebar
        //-     .row
        //-       .lesson-title
        //-         h2= section.title
        //-         img(src='/images/icons/logo-gear.svg', alt='')
        //-   else
        //-     span.task-subtitle= section.title
        //-   .col-xs-10.col-xs-offset-1.col-md-offset-0.lesson-tasks!= section.text
      .row.course-actions
        .col-xs-4.signin-button-wrapper
          a.basic-btn.red.signin-button(href=course.applyToCourseLink) Записатись на курс
        .socials-wrapper.col-md-3.col-sm-6.col-xs-8.pull-right
          a(target='_blank').fa.fa-facebook.fb-share
          a(target='_blank').fa.fa-twitter.twitter-share
    .container-fluid.see-also-header-wrapper
      h2.see-also-header Дивіться також
    .container.courses-preview-wrapper
      each course in courses
        +preview({
          title: course.briefDescription,
          attrs: { 'data-cat': course.field, 'data-age': course.age, 'data-price': course.price && 'premium' },
          icon: 'age',
          link: `/course/${course.slug}`,
          bgSRC: course.heroImage.url,
          stripy: 'orange'
        })