extends ../layouts/default

block content
  include ../mixins/preview
  -let minAge = Infinity
  -let maxAge = -Infinity
  each course in courses
   -minAge = course.minimumAge < minAge ? course.minimumAge : minAge
   -maxAge = course.maximumAge > maxAge ? course.maximumAge : maxAge
  main.content
   h2.content-title Курси
   .container
     form.courses-filter.row
       h4.courses-filter__title.col-sm-3 Фільтрувати
       .courses-filter__form-line.col-sm-3
         select.basic-select(data-filter='cat')
           option(value='all') Напрям
           each field in courseFields
             option(value=field._id)= field.title
       .courses-filter__form-line.age.col-sm-3
         select.basic-select(data-filter='age')
           option(value='all') Вік дитини
           -for(let i=minAge; i<=maxAge; i++) {
              option(value=i)= `${i}`
           -}
     .courses.row.centered-items
       each course in courses
         script.
           console.log(!{JSON.stringify(course)})
           console.log(!{serverTimestamp})
         +preview({
           title: course.briefDescription,
           active: {
            since: course.activeSince,
            currentDate: currentServerDate,
           },
           attrs: { 'data-cat': course.field, 'data-min-age': course.minimumAge, 'data-max-age': course.maximumAge},
           icon: 'age',
           link: `/course/${course.slug}`,
           bgSRC: course.heroImage.url,
           activeSince: course.activeSince,
           stripy: 'orange',
         })