extends ../layouts/default

block css
  style.
    .preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      background: #00b8d4;
      z-index: 1000;
    }
    .intro {
      background:
        linear-gradient(
          rgba(67, 65, 74, 0.6),
          rgba(67, 65, 74, 0.6)
        ), url(!{layout.coverImage.url}) no-repeat center !important;
      background-size: auto, cover;
    }

block content
  include ../mixins/quote
  include ../mixins/preview
  main.content.home
    .preloader
      .preloader__inner
        .preloader__gear
        .preloader__logo
    .intro
      .container
        .col-md-6
          h1.intro__title= layout.mainTitle
          p.intro__p=layout.mainSubtitle
          a.basic-btn.red.intro__btn(href=layout.registerLink) Зареєструватись
    section.section.mission-section
      .container
        .row
          h3.mission-section__title= layout.articleTitle
        .row.cols-wrapper
          .col-xs-6.col-sm-4!=layout.articleLeftColumn
          .col-xs-6.col-sm-4!=layout.articleRightColumn
          .col-xs-offset-4.col-xs-4.robo-wrapper
            img(src='/images/icons/robo.svg', alt='RoboClub IF')
    section.section.quotes-section
      .container
        .quotes-slider
          each quote in quotes
            +quote(quote.author, quote.text, quote.authorAvatar)
    section.section
      .container
        h2.section__title Останні новини
        br
        .row.news-container
          each post, index in posts
            +preview({
              title: post.briefDescription,
              date: post.publishedDate,
              link: `/post/${post.slug}`,
              bgSRC: post.heroImage.url,
              blue: index % 2,
            })
        a(href='/posts')
          button.basic-btn.yellow.centered(type='button') Всі новини
    section.section.ready.dark
      .container
        h2.section__title= layout.introSubtitle
        h3.section__subtitle!= layout.introText
        a.basic-btn.yellow.centered(href=layout.registerLink) Зареєструватись
    section.section.partners.container
      h2.section__title Наші партнери
      .partners-list
        each partner in partners
          .item
            a(href=partner.link)
              img(src=partner.image.url, alt=partner.title)
