extends ../layouts/default

block content
  include ../mixins/preview

  main.content.post
    h2.content-title= post.title
    .container
      .article-container
        article.article
          if post.coverImage
            img(src=post.coverImage.url, alt=post.title)
          each section in post.sections
            if section.subtitle && section.showSubtitle
              h3=section.subtitle
            if section.text
              p!=section.text
            if section.image
              img(src=section.image.url, alt=section.subtitle)
        footer.article-footer
          .article-footer__share
          .article-footer__info
            if(post.publishedDate)
              p.article-footer__date= post.publishedDate
            p.article-footer__author= post.author
      h3.long-title Читайте також
      .see-also-container.centered-items
        each post in posts
          +preview({
            title: post.briefDescription,
            bgSRC: post.heroImage && post.heroImage.url,
            date: post.publishedDate,
            link: `/post/${post.slug}`,
            stripy: 'orange',
          })
        .clearfix