extends ../layouts/default

block content
  main.content
    h2.content-title= data.post.heading
    .container
      .article-container
        article.article
          if data.post.coverImage
            img(src=data.post.coverImage.url, alt=data.post.title)
          each section in data.post.sections
            if section.subtitle && section.showSubtitle
              h3=section.subtitle
            if section.text
              p!=section.text
            if section.image
              img(src=section.image.url, alt=section.subtitle)
        footer.article-footer
          .article-footer__share
          .article-footer__info
            if(data.post.publishedDate)
              p.article-footer__date= data.post.publishedDate
            p.article-footer__author= data.post.author
      h3.long-title Читайте також
      .see-also-container
        each post in data.posts
          +preview({
            title: post.briefDescription,
            bgSRC: post.heroImage && post.heroImage.url,
            date: post.publishedDate,
            link: `/post/${post.slug}`,
            stripy: 'orange',
          })
        .clearfix