extends ../layouts/default

block content
  include ../mixins/preview
  include ../mixins/galleryPreview

  main.content.post
    h2.content-title= post.title
    .container
      .article-container
        article.article
          if post.coverImage
            img(src=post.coverImage.url, alt=post.title)
    +galleryPreview(post.relatedAlbum)
    .container
      .article-container
        article.article
          -for(let i=1; i<=post.content.sectionsCount; i++) {
            if post.content[`${i}_subtitle`]
              h3=post.content[`${i}_subtitle`]
            if post.content[`${i}_text`]
              p!=post.content[`${i}_text`]
            if post.content[`${i}_image`] && post.content[`${i}_image`].url
              img(src=post.content[`${i}_image`].url, alt=section.subtitle)
          -}
        footer.article-footer
          .article-footer__share
          .article-footer__info
            if(post.publishedDate)
              p.article-footer__date= post.publishedDate
            p.article-footer__author= post.author
      h3.long-title Читайте також
      .see-also-container.centered-items
        each post in posts
          +preview({
            title: post.briefDescription,
            bgSRC: post.heroImage && post.heroImage.url,
            date: post.publishedDate,
            link: `/post/${post.slug}`,
            stripy: 'orange',
          })
        .clearfix