mixin faq(faqs)
  each faq, faqIndex in faqs
    .item-wrapper.row(id=`item-${faqIndex}`)
      .title-wrapper.row
        .col-xs-12.title-inner-wrapper
          .title(id=`item-title-${faqIndex}`)
            span= faq.title
      each section, sectionIndex in faq.sections
        .subtitle-wrapper.row(id=`item-subtitle-${faqIndex}-${sectionIndex}`, class=`item-${itemIndex}-content`)
          .col-xs-12
            .subtitle
              span= section.subtitle
        .text-wrapper.row(id=`item-text-${itemIndex}-${sectionIndex}`, class=`item-${itemIndex}-content`)
          .col-xs-12
            .text
              span!= section.text
