-var stripeConfig = {index: 0, resetStripesEvery: 4, currentColor: false };


mixin preview(config)
  if config.attrs && config.attrs['data-type'] == 'photo'
    -config.icon = 'fa fa-camera';

  if config.attrs && config.attrs['data-type'] == 'video'
    -config.icon = 'fa fa-video-camera';

  -var buttonAttrs = {};
  if config.gallery
    -config.stripy = 'blue'
    -buttonAttrs.class = 'swipebox'
    -buttonAttrs.rel = 'gallery'
    -buttonAttrs.title = config.title

  if config.stripy
    if stripeConfig.index++ % stripeConfig.resetStripesEvery != 0
      -stripeConfig.currentColor = !stripeConfig.currentColor

    if config.stripy === 'blue'
      -config.blue = !stripeConfig.currentColor
    else
      -config.blue = stripeConfig.currentColor

  if !config.bgSRC
    -config.bgSRC = '/images/fallbacks/heroNews.jpg'

  -var isInactive = config.active && config.active.sinceTimestamp > config.active.currentTimestamp

  .preview.col-xs-6.col-sm-4.col-md-3&attributes(config.attrs)
    .preview-wrapper(
      class=config.blue ? 'blue' : '',
      class=isInactive ? 'inactive' : ''
    )
      img.preview-img(
        src=(config.forceBgLazyLoad ? undefined : config.bgSRC),
        data-lazy=(config.forceBgLazyLoad ? config.bgSRC : undefined),
        alt=config.title
      )
      .overlay
        .overlay-content
          h3.title= config.title
          if config.date
            span.date= config.date
          .icon
            if config.icon
              if config.icon.slice(0, 2) === 'fa'
                span(class= config.icon)
              if config.icon === 'age'
                span.age-icon= `${config.attrs['data-min-age']}-${config.attrs['data-max-age']}`
          if isInactive
            span.active-since=`Доступно з ${config.active.sinceFormattedDate}`
          .button-wrapper
            a(href=config.link ? config.link : config.bgSRC, class=config.blue ? 'yellow' : 'blue')&attributes(buttonAttrs).basic-btn
              span.fa.fa-link
              = (config.buttonText || 'Дивитись')