-var stripeConfig = {rowIndex: 0, index: 1, resetStripesEvery: 4 };

mixin preview(config)
  -config.sizes = config.sizes || {xs: 6, sm: 4, md: 3};

  if config.attrs && config.attrs['data-type'] == 'photo'
    -config.icon = 'fa fa-camera';

  if config.attrs && config.attrs['data-type'] == 'video'
    -config.icon = 'fa fa-video-camera';

  -var buttonAttrs = {};
  if config.gallery
    -config.stripy = 'blue'
    -buttonAttrs.class = 'swipebox'
    -buttonAttrs.rel = 'gallery'

  if config.stripy
    if stripeConfig.index >= stripeConfig.resetStripesEvery
      -stripeConfig.index = (stripeConfig.rowIndex++ % 2) ? 1 : 0;
    -config.blue = (stripeConfig.index++ % 2) ? true : false;
    if config.stripy === 'orange'
      -config.blue = !config.blue


  if !config.bgSRC
    -config.bgSRC = '/images/fallbacks/heroNews.jpg'

  .preview(
    class=config.sizes.xs ? 'col-xs-' + config.sizes.xs : '',
    class=config.sizes.sm ? 'col-sm-' + config.sizes.sm : '',
    class=config.sizes.md ? 'col-md-' + config.sizes.md : '',
    class=config.sizes.lg ? 'col-lg-' + config.sizes.lg : '')&attributes(config.attrs)
    .preview-wrapper(class=config.blue ? 'blue' : '')
      img.preview-img(src=(config.forceBgLazyLoad ? undefined : config.bgSRC), data-lazy=(config.forceBgLazyLoad ? config.bgSRC : undefined), alt=config.title)
      .overlay
        .overlay-content
          h3.title= config.title
          if config.date
            span.date= config.date
          .icon
            if config.icon
              if config.icon.slice(0, 2) === 'fa'
                span(class= config.icon)
              if config.icon === 'age'
                span.age-icon= config.attrs['data-age'] + '+'
          .button-wrapper
            a(href=config.link ? config.link : config.bgSRC)&attributes(buttonAttrs).basic-btn.yellow
              span.fa.fa-link
              = (config.buttonText || 'Дивитись')