header.row.header.inner
  .col-sm-3.col-md-offset-1.col-xs-10
    h1.logo.ir
      a.logo__link(href='/')
  nav.col-sm-9.col-md-7.hidden-xs.main-nav
    ul.main-menu
      each link in navLinks
        li.main-menu__item(class=(section == link.key ? 'active' : null), class=(link.pages ? 'has-sub' : null), data-navlink-key=link.key)
          a.main-menu__link(href=link.href)= link.label
          if(link.pages)
            ul.sub-menu
              each sublink in link.pages
                li.sub-menu__item
                  a.sub-menu__link(href=sublink.href)= sublink.label
    ul.main-socials
      li.main-socials__item
        a.main-socials__link(href='https://www.facebook.com/RoboclubIF/')
          i.fa.fa-facebook(aria-hidden='true')
      li.main-socials__item
        a.main-socials__link(href='https://www.instagram.com/roboclubif/')
          i.fa.fa-instagram(aria-hidden='true')

.fat-nav
  ul
    each link in navLinks
      li.fat-nav-item(class=(section == link.key ? 'active' : null))
        a(href=link.href)= link.label
        if(link.pages)
          ul
            each sublink in link.pages
              li: a(href=sublink.href)= sublink.label
  ul
    li.social-icons-wrapper
      a.social-icon(href='https://www.facebook.com/RoboclubIF/')
        i.fa.fa-facebook(aria-hidden='true')
      a.social-icon(href='https://www.instagram.com/roboclubif/')
        i.fa.fa-instagram(aria-hidden='true')